# Copyright 2024 NXP
# SPDX-License-Identifier: Apache-2.0

config BOARD_GIBBON_D
	select SOC_LPC55S69_CPU0 if BOARD_GIBBON_D_LPC55S69_CPU0 ||	\
								BOARD_GIBBON_D_LPC55S69_CPU0_NS
	select SOC_LPC55S69_CPU1 if BOARD_GIBBON_D_LPC55S69_CPU1
	select SOC_PART_NUMBER_LPC55S69JBD100
