//&enet1g {
//	status = "disabled";
//};
//
//&enet1g_mac {
//	status = "disabled";
//};
//
//&enet1g_mdio {
//	status = "disabled";
//	enet1g_phy: phy@1 {
//		status = "disabled";
//	};
//};
//
//&enet1g_ptp_clock {
//	status = "disabled";
//};
