/*
 * Copyright (c) 2024 Open Pixel Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&flexcomm5 {
	status = "okay";
};

&flexcomm5_lpi2c5 {
	status = "okay";
	pinctrl-0 = <&pinmux_flexcomm5_lpi2c>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
};


&pinctrl {
	pinmux_flexcomm5_lpi2c: pinmux_flexcomm5_lpi2c {
		group0 {
			pinmux = <FC5_P0_PIO1_16>,	//SDA
					 <FC5_P1_PIO1_17>;	//SCL
			slew-rate = "fast";
			drive-strength = "low";
			input-enable;
			bias-pull-up;
			drive-open-drain;
		};
	};
};